


# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# credentials
config
# dpendencies
/node_modules
/.pnp
.pnp.js


# misc
.DS_Store
.env
*.orig
.idea/
.vscode/

# production
/build
client/build

# testing
/coverage

npm-debug.log*
npm-error.log*
yarn-error.log*
yarn-debug.log*

account.js
atm.js
bank.js
